body.dark-mode {
    background-color: #333; /* Warna latar belakang gelap */
    color: #fff; /* Warna teks putih */
}

.dark-mode .container {
    background-color: #444; /* Warna latar belakang container gelap */
}

.dark-mode .row {
    background-color: #555; /* Warna latar belakang card gelap */
    color: #fff; /* Warna teks card putih */
}
/* CSS untuk tema gelap */
.dark-mode {
    background-color: #333; /* Warna latar belakang navbar saat mode gelap */
    color: #fff; /* Warna teks pada navbar saat mode gelap */
}

.dark-mode .navbar {
    color: #fff; /* Warna teks tautan pada navbar saat mode gelap */
}

.dark-mode .navbar-toggler-icon {
    background-color: #fff; /* Warna ikon toggler pada navbar saat mode gelap */
}
body {
    font-family: Arial, sans-serif;
}
button:hover {
    background-color: #0056b3;
}
.h1 {
    color: #fff;
}
